* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

.navigation {
	background: #1f8A70;
}
nav {
	position: sticky;
	width: 100%;
	margin: 0 auto;
    top: 0px;
}
ul {
	margin-bottom: 0px;
}
#navmenu, #navmenu ul, #navmenu ul li, #navmenu ul li a {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#navmenu:after, #navmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#navmenu > ul > li {
	float: left
}
#navmenu > ul > li > a {
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ddd;
	font-weight: 700;
}
#navmenu > ul > li:hover > a, #navmenu ul li.active a {
	color: #fff
}
#navmenu > ul > li:hover, #navmenu ul li.active:hover, #navmenu ul li.active, #navmenu ul li.has-sub.active:hover {
	background: darkgreen!important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}
#navmenu > ul > li.has-sub > a {
	padding-right: 30px
}
#navmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 999;
}
#navmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #1f8A70;
	border-bottom: 1px solid rgb(204 204 204 / 23%);
	transition: all .25s ease
}

#navmenu li:hover > ul {
	left: auto
}
#navmenu li:hover > ul > li {
	height: 35px
}
#navmenu ul ul ul {
	margin-left: 100%;
	top: 0
}
#navmenu ul ul li a {
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
}
#navmenu ul ul li:last-child > a, #navmenu ul ul li.last-item > a {
	border-bottom: 0
}
#navmenu ul ul li:hover > a, #navmenu ul ul li a:hover {
	color: #fff
}
#navmenu ul ul li.has-sub:hover, #navmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #c10d03;
}
#navmenu ul ul ul li.active a {
	border-left: 1px solid #333
}
#navmenu > ul > li.has-sub > ul > li.active > a, #navmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333
}



header {
  background-color:#1f8A70;
  color: white;
  padding: 30px;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.content {
  flex: 2;
  margin-right: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}

.sidebar {
  flex: 1;
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 8px;
}

/* Pied de page */
footer {
  background-color: #1f8A70;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

img {
  display: block;              /* Nécessaire pour que margin: auto fonctionne */
  margin: 20px auto;           /* Centrage horizontal avec marges verticales */
  height: auto;
  border-radius: 8px;
}

img:hover{
    transform: scale(1.3); 
    transition: all 0.5s ease-in-out; 
}

h1, h2 {
  text-align: center;
}

header img {
  padding-top: 0%;
  margin: 0;
  display: flex;
  float: left;
  max-width: 150px;
  border-radius: 8px;
  /* Pour s'assurer que l'image ne dépasse pas la hauteur du texte */
  vertical-align: middle;    /* assure alignement vertical */
}

.haut{
  padding-right: 10%;
}

li {
  margin-left: 8%;
}

.indent{
  margin-left: 8%;
}

.contact {
  text-align: center;
}



input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.connecter {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.connecter:hover {
    background-color: #45a049;
}

.bindex{
  display: flex;
  float: right;
  padding-top: 5%;
  padding: 8px 16px;
  background-color: white;
  color: #27866F;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000066;
  transition: background-color 0.3s ease;

} 

.infra{
  padding: 40px;
}

